[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
